html,
body {
  text-align: center;
  margin: 0;
}

.container {
  margin: 0 auto;
}

.with-flex {
  display: flex;
}

.container-main {
  max-width: 800px;
  min-height: 596px;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position-x: center;
  border: 4px black solid;
  flex-direction: column;
}

/* Pokemon images and effects */
#active-pkmn {
  position: relative;
  top: 300px;
  left: 100px;
}

.my-pkmn {
  display: none;
}

.my-pkmn img {
  height: 100px;
}

#enemy-pkmn {
  display: block;
  padding: 1em;
  position: relative;
  top: 250px;
  left: 680px;
  transform: translateX(-75%) translateY(-75%);
}

#enemy-pkmn img {
  width: 150%;
  max-width: 200px;
}

.shiny {
  background: radial-gradient(
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 0, 0.7) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  animation: shine 10s;
  animation-iteration-count: infinite;
}

/*Action Bar and Buttons*/
#action-bar {
  background-color: gray;
  width: 800px;
  height: 5em;
  position: absolute;
  top: 480px;
  justify-content: space-around;
  padding: 20px 0;
}

.btn {
  display: inline-block;
  width: 7rem;
  border-radius: 10%;
  cursor: pointer;
  opacity: 1;
}

/* This is stop Font-Awesome Icons from blocking button clicks */
.btn > i {
  pointer-events: none;
}

.btn:hover {
  border-width: 5px;
  font-size: 1.5em;
}

.btn-inactive {
  opacity: 0;
  cursor: default;
}

#end-game-btn {
  color: darkslategray;
  border-color: darkslategray;
}

#end-game-btn:after {
  content: "Finish";
}

#end-game-btn:hover:after {
  content: "";
}

#fire-attack-btn {
  color: red;
  border-color: red;
}
#fire-attack-btn:after {
  content: "Fire";
}

#fire-attack-btn:hover:after {
  content: "";
}

#grass-attack-btn {
  color: green;
  border-color: green;
}

#grass-attack-btn:after {
  content: "Grass";
}

#grass-attack-btn:hover:after {
  content: "";
}

#water-attack-btn {
  color: blue;
  border-color: blue;
}

#water-attack-btn:after {
  content: "Water";
}

#water-attack-btn:hover:after {
  content: "";
}

#reset-btn {
  color: darkslategray;
  border-color: darkslategray;
}

#reset-btn:after {
  content: "Reset";
}

#reset-btn:hover:after {
  content: "";
}

/*Animation*/

@keyframes shine {
  45% {
    -webkit-filter: brightness(100%);
  }
  55% {
    -webkit-filter: brightness(120%);
  }
  65% {
    -webkit-filter: brightness(100%);
  }
}
